<main>

    <%- include('../partials/adminSidebar') %>
        
        <div id="main-wrapper">
    <div id="main-wrapper">
      <h1>Reset Password</h1>
      <form action="/auth/reset-password" method="POST">
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" name="newPassword" required>
        <button type="submit">Reset Password</button>
      </form>
    </div>
  </main>
  