<main>
	<%- include('../partials/adminSidebar') %>
	
	<div id="main-wrapper">
		<form action="/admin/books/add" method="POST" class="w-75 border m-auto my-5 bg-white rounded-2">
			<h5 class="text-center bg-primary text-white form-title">Dodaj novu knjigu</h5>
			
			<div class="form-body p-4">
				<div class="mb-3">
					<label for="title" class="form-label">Naslov Knjige</label>
					<input type="text" name="book[title]" class="form-control" id="title" placeholder="Enter book title.." required>
				</div>
				<div class="mb-3">
					<label for="ISBN" class="form-label">ISBN</label>
					<input type="number" name="book[ISBN]" class="form-control" id="ISBN" placeholder="Enter book ISBN.." required>
				</div>
				<div class="mb-3">
					<label for="description" class="form-label">Opis knjige</label>
					<textarea name="book[description]" class="form-control" id="description" rows="5" placeholder="Enter book description.."></textarea>
				</div>
				<div class="mb-3">
					<label for="authors" class="form-label">Autor knjige</label>
					<input type="text" name="book[authors]" class="form-control" id="authors" placeholder="Enter author(s)..">
				</div>
				<div class="mb-3">
					<label for="category" class="form-label">Kategorija knjige</label>
					<input type="text" name="book[category]" class="form-control" id="category" placeholder="Enter category..">
				</div>
				<div class="mb-3">
					<label for="copies" class="form-label">Broj kopija</label>
					<input type="number" min="0" name="book[copiesOwned]" class="form-control" id="copies" placeholder="Enter no. of copies.." required>
				</div>
				<div class="mb-3">
				<label for="image">Image URL:</label>
				<input type="file" id="image" name="image" placeholder="Current Image URL:"
				<br>
			</div>

        <label for="bindings">Povez:</label>
        <select id="bindings" name="bindings">
            <option value="Povezivanje sedlastim bodovima">Povezivanje sedlastim bodovima</option>
            <option value="PUR vezivanje">PUR vezivanje</option>
            <option value="Tvrdi ili futrolni povez">Tvrdi ili futrolni povez</option>
            <option value="Singer ušiveni povez">Singer ušiveni povez</option>
            <option value="Singer povez">Singer povez</option>
            <option value="Sekcija šivenog poveza">Sekcija šivenog poveza</option>
            <option value="Povezivanje koptskim šavom">Povezivanje koptskim šavom</option>
            <option value="Žica, češalj ili spiralni uvez">Žica, češalj ili spiralni uvez</option>
            <option value="Interscrew binding">Interscrew binding</option>
            <option value="Japanski povez">Japanski povez</option>
            <option value="Solander kutije i torbe">Solander kutije i torbe</option>
        </select>
				<button type="submit" class="btn w-75 d-block m-auto mt-4">Dodaj</button>
				<a href="/admin/books" class="btn btn-cancel w-75 d-block m-auto mt-4">Otkazi</a>
			</div>
		</form>
	</div>
	
</main>