<div id="sidebar">
	<ul id="sidebar-nav">
		<li>Dobrodosli, <%= currentUser.firstName ? currentUser.firstName : "Admin" %></li>
		<li><a href="/admin/dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
		<li><a href="/admin/activities"><i class="fas fa-chart-line"></i> Aktivnosti</a></li>
		<li><a href="/admin/students"><i class="fas fa-users"></i> Korisnici</a></li>
		<li><a href="/admin/books"><i class="fas fa-book"></i> Knjige</a></li>
		<li><a href="/admin/authors"><i class="fas fa-user-edit"></i> Autori</a></li>
		<li><a href="/admin/issue"><i class="fas fa-file-alt"></i> Izdaj knjigu</a></li>
		<li><a href="/admin/loans/current"><i class="fas fa-bookmark"></i> Trenutno izdate knjige</a></li>
		<li><a href="/admin/loans/previous"><i class="fas fa-history"></i> Vraćene knjige</a></li>
		<li><a href="/admin/reservations"><i class="fas fa-calendar-check"></i> Rezervacije</a></li>
		<li><a href="/admin/profile"><i class="fas fa-user-circle"></i> Moj profil</a></li>
		<li><a href="/admin/userActivity"><i class="fas fa-user-circle"></i> Aktivnost logovanja</a></li>
		<li><a href="/auth/admin-logout" class="btn"><i class="fas fa-sign-out-alt"></i> Izadji</a></li>
	</ul>
</div>
	
<div id="toggler" class="text-center">
	<span id="sidebar-toggler-btn"><i class="fas fa-bars"></i></span>
</div>






