
<header class="p-2 text-center">
    <div class="header-container">
        <div class="wave-text">Jednostavna biblioteka</div>
        <div class="button-container">
            <a class="btn btnHeader" href="/auth/student-login">Korisnicki Login</a>
            <a class="btn btnHeader" href="/auth/admin-login">Admin Login</a>
        </div>
    </div>
</header>