<div id="sidebar">
	<ul id="sidebar-nav">
		<li>Dobrodosao, <%= currentUser.firstName ? currentUser.firstName : "korisnik" %></li>
		<li><a href="/student/dashboard">Dashboard</a></li>
		<li><a href="/student/activities">Aktivnosti</a></li>
		<li><a href="/student/books">Knjige</a></li>
		<li><a href="/student/loans/current">Moje trenutne knjige</a></li>
		<li><a href="/student/loans/previous">Moje prethodne knjige</a></li>
		<li><a href="/student/rules">Pravila i propisi</a></li>
		<li><a href="/student/profile">Moj Profil (nije Instagram...)</a></li>
		<li><a href="/auth/student-logout" class="btn">Izadji</a></li>
	</ul>
</div>

<div id="toggler" class="text-center">
	<span id="sidebar-toggler-btn"><i class="fas fa-bars"></i></span>
</div>