<!DOCTYPE html>
<html>
<head>
  <title>Error</title>
  <link rel="stylesheet" href="../assets/css/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Additional CSS styles for error page -->
</head>
<body>
  <h1>Error</h1>
  <p><%= message %></p>
</body>
</html>
