<!DOCTYPE html>
<html>
<head>
  <title>Bookstore - New Reservation</title>
  <link rel="stylesheet" href="../assets/css/main.css">
</head>
<body>
  <h1>New Reservation</h1>
  
  <form action="/reservations" method="POST">
    <div>
      <label for="book_id">Book ID:</label>
      <input type="number" id="book_id" name="book_id" required>
    </div>
    <div>
      <label for="made_by_user_id">Made By User ID:</label>
      <input type="number" id="made_by_user_id" name="made_by_user_id" required>
    </div>
    <div>
      <label for="reserved_for_user_id">Reserved For User ID:</label>
      <input type="number" id="reserved_for_user_id" name="reserved_for_user_id" required>
    </div>
    <div>
      <label for="reservation_date">Reservation Date:</label>
      <input type="date" id="reservation_date" name="reservation_date" required>
    </div>
    <button type="submit">Create Reservation</button>
  </form>
  
  <a href="/">Back to Home</a>
</body>
</html>
