<div id="welcome-container" class="bg-image-container">
	<div class="text-center">Dobrodosli u jednostvanu online biblioteku</div>
	<a class="btn mb-3" href="/auth/student-login">Korisnicki Login</a>
	<a class="btn" href="/auth/admin-login">Admin Login</a>
</div>