@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root
{
	--theme-color: #3f51b5;
}

body
{
	height: 100vh;
	background-color: #f2f2f2;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}


header
{
	color: white;
	background-color: var(--theme-color);
	font-size: 20px;
	height: 80px;
}
header .nav-link
{
	color: white !important;
}
header .nav-link:hover
{
	transition: 0.3s;
	color: #ddd1d1 !important;
}

.bg-image-container
{
	min-height: calc(100vh - 85px);
	background: url("/assets/images/naslovna.png") no-repeat center;
	background-size: cover;
	
}

.color-theme
{
	color: var(--theme-color);
}

.btn
{
	padding: 6px 15px;
	font-size: 18px;
	color: white;
	background-color: var(--theme-color);
	border: 2px solid var(--theme-color);
	border-radius: 4px;
	transition: 0.3s;
}

.btnHeader
{
	padding: 6px 15px;
	font-size: 18px;
	color: white;
	background-color: var(--theme-color);
	border: 2px solid #E2E0E0;
	border-radius: 4px;
	transition: 0.3s;

}

button-container {
        position: absolute;
        top: 10px;
        right: 10px;
    }


.header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .button-container {
        display: flex;
        gap: 10px;
    }
	
	 @keyframes wave {
        0% { transform: translateY(0); }
        50% { transform: translateY(-10px); }
        100% { transform: translateY(0); }
    }

    .wave-text {
        display: inline-block;
        animation: wave 2s infinite;
    }
.btn:hover
{
	color: var(--theme-color);
	background: linear-gradient(0deg, #d7d7d7, #f9f2f2);
	font-weight: bold;
}

.btn-cancel { background-color: #ffc107; border: 2px solid #ffc107; }
.btn-cancel:hover { color: black; }
.btn
{
	padding: 6px 15px;
	font-size: 18px;
	color: white;
	background-color: var(--theme-color);
	border-radius: 0px;
}
.btn-danger
{
	background-color: rgb(223, 28, 28);
}
.btn:hover
{
	box-shadow: 3px 4px 6px 0px grey;
	color: white;
}

#carousel img
{
	width: 100vw;
	height: calc(100vh - 50px);
	object-fit: cover;
	object-position: center;
}
.header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }


.alerts-wrapper
{
	position: absolute;
	right: 0px;
	width: fit-content;
	font-weight: bold;
	animation: moveLeft 0.1s linear;
	z-index: 100;
}

.alerts-wrapper .alert-danger
{
	color: white;
	background-color: #e22a2a;
}
.alerts-wrapper .alert-success
{
	color: white;
	background-color: #1fa64e;
}


@keyframes moveLeft {
	from { right: -100px; }
	to { right: 0px; }
}
