<main>
	<%- include('../partials/studentSidebar') %>
	
	<div id="main-wrapper">
			
		<div class="bg-white mb-5 p-3 d-sm-flex align-items-center justify-content-between">
			<h5 class="m-0 fw-bold color-theme">Pravila i propisi</h5>
		</div>
		
		<ul class="m-4 p-5 lh-lg bg-white" style="font-size: 18px;">
			<li>Sve moraju postovati i odrzavati tisinu.</li>
			<li>Korisnici mogu direktno pretrazivati knjige na netu.</li>
			<li>Knjiga će biti izdata samo korisniku koji priloži svoju ovlasenu bibliotecku karticu.</li>
			<li>Korisnicma se trazi da povremeno provjere svoje pozajmice na web stranici..</li>
			<li>Korisnik može zadrzati knjigu najvise 7 dana, nakon cega je knjigu potrebno vratiti.</li>
			<li>Krsenje pravila i svaki cin neprikladnog ponasanja prema osoblju biblioteke ce dovesti do ostrih disciplinskih mjera..</li>
		</ul>
		
	</div>


</main>